<!-- <!DOCTYPE html>
<html>
<head>
    <title>Population Genomics Web Application</title>
    </head>
    <body>
            <h1> Population Genomics Analysis</h1>
            <p>Choose which population or Superpopulations you would like to conduct analysis on:</p>
</body>
</html> -->


<!-- ----------------------------------------------------------------- -->

<!-- THIS ONE WORKS - SOFIA FONT

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Population Genomics Web Application</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <style>
        body {
        font-family: "Sofia", sans-serif;
        background-image: url("{{ url_for('static', filename='helixbackground.jpg')}}");
        background-size: cover;
        margin: 0;
        padding: 0;
        }

        h1, p {
            color: white;
        }
    </style>
</head>
<body>
    <h1>Population Genomics Analysis</h1>
    <p>Choose which population or Superpopulations you would like to conduct analysis on:</p>
</body>
</html> -->









<!-- ----------------------------------------------------------------- -->
<!-- AUDIOWIDE FONT: -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Population Genomics Web Application</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
    <style>
        body {
        font-family: "Audiowide", sans-serif;
        background-image: url("{{ url_for('static', filename='helixbackground.jpg')}}");
        background-size: cover;
        margin: 0;
        padding: 0;
        background-size:cover;
        background-attachment: fixed;
        }

        .content {
            padding: 20px;
            margin-top: 50px; /* Adjust the margin to prevent content from overlapping with the header */
        }

        h1, p {
            color: white;
        }

        .checkbox-container {
      background-color: darkblue; /* Semi-transparent white background */
      padding: 5px; /* Add padding for space */
      margin-bottom: 5px; /* Add space between checkbox containers */
      border-radius: 4px; /* Add rounded corners for aesthetics */
      display: inline-block;
      transition: background-color 0.3s ease;
    }

    .checkbox-container:hover {
            background-color: white;
            color: darkblue;
        }
    
    </style>
</head>

<body>
<!-- ----------------------------------------------------------------- -->
    <header>
        <h1>Population Genomics Analysis Web Application</h1>
    </header>
<!-- ----------------------------------------------------------------- -->

<section>
    <p>Choose which superpopulation you would like to conduct analysis on:</p>

    <div class="checkbox-container">
        <input type="checkbox" id="option28" value="option28">
        <label for="option28">AFR</label>
    </div>

    <div class="checkbox-container">
        <input type="checkbox" id="option29" value="option29">
        <label for="option29">EUR</label>
    </div>

    <div class="checkbox-container">
        <input type="checkbox" id="option30" value="option30">
        <label for="option30">EAS</label>
    </div>

    <div class="checkbox-container">
        <input type="checkbox" id="option31" value="option31">
        <label for="option31">SAS</label>
    </div>

    <div class="checkbox-container">
        <input type="checkbox" id="option32" value="option32">
        <label for="option32">AMR</label>
    </div>
</section>

<!-- ----------------------------------------------------------------- -->
<p>Choose which population you would like to conduct analysis on:</p>

<div class="checkbox-container">
    <input type="checkbox" id="option1" value="option1">
    <label for="option1">SIB</label>
</div>

<div class="checkbox-container">
    <input type="checkbox" id="option2" value="option2">
    <label for="option2">GBR</label>
</div>

<div class="checkbox-container">
    <input type="checkbox" id="option3" value="option3">
    <label for="option3">FIN</label>
</div>

<div class="checkbox-container">
    <input type="checkbox" id="option4" value="option4">
    <label for="option4">CHS</label>
</div>

<div class="checkbox-container">
    <input type="checkbox" id="option5" value="option5">
    <label for="option5">PUR</label>
</div>

<div class="checkbox-container">
    <input type="checkbox" id="option6" value="option6">
    <label for="option6">CDX</label>
</div>

<div class="checkbox-container">
    <input type="checkbox" id="option7" value="option7">
    <label for="option7">CLM</label>
</div>

<div class="checkbox-container">
    <input type="checkbox" id="option8" value="option8">
    <label for="option8">IBS</label>
</div>

<div class="checkbox-container">
    <input type="checkbox" id="option9" value="option9">
    <label for="option9">PEL</label>
</div>

<div class="checkbox-container">
    <input type="checkbox" id="option10" value="option10">
    <label for="option10">PJL</label>
</div>

<div class="checkbox-container">
    <input type="checkbox" id="option11" value="option11">
    <label for="option11">KHV</label>
</div>

<div class="checkbox-container">
    <input type="checkbox" id="option12" value="option12">
    <label for="option12">ACB</label>
</div>

<div class="checkbox-container">
    <input type="checkbox" id="option13" value="option13">
    <label for="option13">GWD</label>
</div>

<div class="checkbox-container">
    <input type="checkbox" id="option14" value="option14">
    <label for="option14">ESN</label>
</div>

<div class="checkbox-container">
    <input type="checkbox" id="option15" value="option15">
    <label for="option15">BEB</label>
</div>

<div class="checkbox-container">
    <input type="checkbox" id="option16" value="option16">
    <label for="option16">MSL</label>
</div>

<div class="checkbox-container">
    <input type="checkbox" id="option17" value="option17">
    <label for="option17">STU</label>
</div>

<div class="checkbox-container">
    <input type="checkbox" id="option18" value="option18">
    <label for="option18">ITU</label>
</div>

<div class="checkbox-container">
    <input type="checkbox" id="option19" value="option19">
    <label for="option19">CEU</label>
</div>

<div class="checkbox-container">
    <input type="checkbox" id="option20" value="option20">
    <label for="option20">YRI</label>
</div>

<div class="checkbox-container">
    <input type="checkbox" id="option21" value="option21">
    <label for="option21">CHB</label>
</div>

<div class="checkbox-container">
    <input type="checkbox" id="option22" value="option22">
    <label for="option22">JPT</label>
</div>

<div class="checkbox-container">
    <input type="checkbox" id="option23" value="option23">
    <label for="option23">LWK</label>
</div>

<div class="checkbox-container">
    <input type="checkbox" id="option24" value="option24">
    <label for="option24">ASW</label>
</div>

<div class="checkbox-container">
    <input type="checkbox" id="option25" value="option25">
    <label for="option25">MXL</label>
</div>

<div class="checkbox-container">
    <input type="checkbox" id="option26" value="option26">
    <label for="option26">TSI</label>
</div>

<div class="checkbox-container">
    <input type="checkbox" id="option27" value="option27">
    <label for="option27">GIH</label>
</div>


<!-- <div style="background-color: rgba(0, 0, 139, 0.523); padding: 2px; border-top: 2px solid white; border-bottom: 2px solid white;">
    <h2 style="color: white;">SNP Search:</h2>
</div> -->


<div style="background-color: rgba(0, 0, 139, 0.523); padding: 10px;">
    <h2 style="color: white;">SNP Search:</h2>
    <!-- First Search Box -->
    <div style="display: flex; align-items: center; border: 2px solid white; border-radius: 5px; overflow: hidden; margin-bottom: 10px;">
        <input type="text" placeholder="Search SNP by ID:" style="flex: 1; padding: 8px; border: none; background-color: transparent; color: white;">
        <button style="padding: 8px; background-color: white; color: darkblue; border: none; cursor: pointer;">Search</button>
    </div>
    <!-- Second Search Box -->
    <div style="display: flex; align-items: center; border: 2px solid white; border-radius: 5px; overflow: hidden; margin-bottom: 10px;">
        <input type="text" placeholder="Search SNP by Name:" style="flex: 1; padding: 8px; border: none; background-color: transparent; color: white;">
        <button style="padding: 8px; background-color: white; color: darkblue; border: none; cursor: pointer;">Search</button>
    </div>
    <!-- Third Search Box -->
    <div style="display: flex; align-items: center; border: 2px solid white; border-radius: 5px; overflow: hidden;">
        <input type="text" placeholder="Search SNP by Location:" style="flex: 1; padding: 8px; border: none; background-color: transparent; color: white;">
        <button style="padding: 8px; background-color: white; color: darkblue; border: none; cursor: pointer;">Search</button>
    </div>
</div>


<!-- <div style="background-color: rgba(0, 0, 139, 0.523); padding: 2px; max-width: 200px; border-top: 2px solid white; border-bottom: 2px solid white; border-right: 2px solid white;">
    <h2 style="color: white;">SNP Search:</h2>
</div> -->

<form action="/search" method="get">
    <label for="search" style ="color: white">SNP Search by ID:</label>
    <input type="text" id="search" name="query" placeholder="Enter your search query">
    <input type="submit" value="Search">
</form>


<form action="/search" method="get">
    <label for="search" style ="color: white">SNP Search by ......method2.......:</label>
    <input type="text" id="search" name="query" placeholder="Enter your search query">
    <input type="submit" value="Search">
</form>


<form action="/search" method="get">
    <label for="search" style ="color: white">SNP Search by .......method3........:</label>
    <input type="text" id="search" name="query" placeholder="Enter your search query">
    <input type="submit" value="Search">
</form>









<form action="/search" method="get">
    <label for="search" style ="color: white">SNP Search by ID:</label>
    <input type="text" id="search" name="query" placeholder="Enter your search query">
    <input type="submit" value="Search">
</form>


<form action="/search" method="get">
    <label for="search" style ="color: white">SNP Search by ......method2.......:</label>
    <input type="text" id="search" name="query" placeholder="Enter your search query">
    <input type="submit" value="Search">
</form>


<form action="/search" method="get">
    <label for="search" style ="color: white">SNP Search by .......method3........:</label>
    <input type="text" id="search" name="query" placeholder="Enter your search query">
    <input type="submit" value="Search">
</form>





</body>
</html>


