<!DOCTYPE html>
<html>
<head>
    <style>
        body
        {
        background-repeat:no-repeat;
        background-size:cover;
        background-attachment:fixed;
        background-image:url({{url_for('static',filename='builtin/image5.jpg')}})
        }
    </style>
    <title>Population Genomics Web Application</title>
    </head>
    <body>
            <h1> Population Genomics Analysis</h1>
            <h2>Data Selection:</h2>
            <p>Choose which population or Superpopulations you would like to conduct analysis on:</p>
</body>
</html>